In [41]:
"""
    Atividade introdut√≥ria no Tratamento de dados em python

üë®‚Äçüíª Autor: CLEITON HENTGES
üìÖ Data: [29/08/2025]
üíª Linguagem: Python 3.x
"""

'\n    Atividade introdut√≥ria no Tratamento de dados em python\n\nüë®\u200düíª Autor: CLEITON HENTGES\nüìÖ Data: [29/08/2025]\nüíª Linguagem: Python 3.x\n'

In [42]:
import pandas as pd

df = pd.read_csv('/content/clientes.csv')

# Verificar os primeiros registros
print(df.head().to_string(),'\n')

print(df.tail().to_string(),'\n')

# Verificar qtd de linhas e colunas
print('Qtd: ', df.shape,'\n')

# Verificar tipos de dados
print('Tipos:\n', df.dtypes,'\n')

# Checar valores nulos
print('Valores nulos:\n', df.isnull().sum(),'\n')

# Remover dados
df.drop(labels='pais', axis=1, inplace=True)   # Coluna
df.drop(labels=2, axis=0, inplace=True)        # Linha

# Normalizar campos de texto
df['nome'] = df['nome'].str.title()
df['endereco'] = df['endereco'].str.lower()
df['estado'] = df['estado'].str.strip().str.upper()

# Converter tipos de dados
df['idade'] = df['idade'].astype(int)

# Tratar valores nulos (ausentes)
df_fillna = df.fillna(0)                       # Substituir valores nulos por 0
df_dropna = df.dropna()                        # Remover registros com valores nulos
df_dropna4 = df.dropna(thresh=4)               # Manter registros com no m√≠nimo 4 valores n√£o nulos
df = df.dropna(subset=['cpf'])                 # Remover registros com CPF nulo

print('Valores nulos:\n', df.isnull().sum())

print('Qtd de registros nulos com fillna:', df_fillna.isnull().sum().sum())
print('Qtd de registros nulos com dropna:', df_dropna.isnull().sum().sum())
print('Qtd de registros nulos com dropna4:', df_dropna4.isnull().sum().sum())
print('Qtd de registros nulos com CPF:', df.isnull().sum().sum())

# Preencher valores espec√≠ficos em colunas
df.fillna(value={'estado': 'Desconhecido'}, inplace=True)
df['endereco'] = df['endereco'].fillna('Endere√ßo n√£o informado')
df['idade_corrigida'] = df['idade'].fillna(df['idade'].mean())

# Tratar formato de dados
df['data_corrigida'] = pd.to_datetime(df['data'], format='%d/%m/%Y', errors='coerce')

# Tratar dados duplicados
print('Qtd registros atual:', df.shape[0])

df.duplicated()  # Identificar duplicados
df.drop_duplicates(subset='cpf', inplace=True)  # Remover duplicados com base no CPF

print('Qtd registros removendo as duplicadas:', len(df),'n')

print('Dados Limpos:\n', df)

# Salvar dataframe
df['data'] = df['data_corrigida']
df['idade'] = df['idade_corrigida']

df_salvar = df[['nome', 'cpf', 'idade', 'data', 'endereco', 'estado']]
df_salvar.to_csv('clientes_limpeza.csv', index=False)

print('\nNovo DataFrame:\n', pd.read_csv('clientes_limpeza.csv'))

                      nome             cpf  idade        data                                                              endereco          estado    pais
0  Sr. Vitor Gabriel Silva  640.719.385-01     90  06/12/1933           Trevo Emanuel Silva, 482\nVila Tirol\n47847085 Pereira / AP        Rond√¥nia  Brasil
1            Calebe Santos  651.297.384-46     40  06/03/1984         Recanto Moraes, 7\nErnesto Nascimento\n96497-621 da Rosa / PB  Rio de Janeiro  Brasil
2             Evelyn Pires  107.643.528-90     80  09/03/1944       Travessa de Caldeira, 237\nSanta Terezinha\n84390313 Sales / TO         Sergipe  Brasil
3       Maria Julia Castro  164.750.293-43     76  12/04/1947    Residencial de Pereira, 20\nJatob√°\n62127-165 Gomes de Santos / AL      Pernambuco  Brasil
4           Arthur da Rosa  085.167.249-30     53  16/04/1970  Parque Almeida, 66\nVila Suzana Segunda Se√ß√£o\n09805-686 Santos / SE  Santa Catarina  Brasil

                  nome             cpf  idade        data                                                                        endereco          estado    pais
1022       L√≠via Nunes  742.380.591-23     49  14/03/1975  Passarela de Porto, 65\nPousada Santo Antonio\n35531-299 Mendes do Amparo / PI           Bahia  Brasil
1023       Joana Silva  349.051.867-57     24  19/09/1999                   Ch√°cara Miguel Foga√ßa\nLaranjeiras\n52800515 Souza Verde / PE      Pernambuco  Brasil
1024       Luigi Porto  826.509.374-83     43  18/08/1980                        Parque de Santos, 88\nS√£o Jo√£o\n60112-833 Rodrigues / PI  Esp√≠rito Santo  Brasil
1025   Let√≠cia da Mata  308.742.169-31     47  04/08/1976                      Aeroporto da Paz, 54\nVila S√£o Dimas\n26750-505 Costa / PR  Rio de Janeiro  Brasil
1026  Dr. Thomas Nunes  967.831.542-46     81  14/08/1942                           Vereda da Mota, 37\nVila Da Luz\n50836-481 Moura / SE           Piau√≠  Brasil

Qtd:  (1027, 7)

Tipos:
 nome        object
cpf         object
idade        int64
data        object
endereco    object
estado      object
pais        object
dtype: object

Valores nulos:
 nome         3
cpf          7
idade        0
data        10
endereco     5
estado       5
pais         0
dtype: int64

Valores nulos:
 nome        3
cpf         0
idade       0
data        9
endereco    5
estado      5
dtype: int64
Qtd de registros nulos com fillna: 0
Qtd de registros nulos com dropna: 0
Qtd de registros nulos com dropna4: 30
Qtd de registros nulos com CPF: 22
Qtd registros atual: 1019
Qtd registros removendo as duplicadas: 1010 n
Dados Limpos:
                          nome             cpf  idade        data  \
0     Sr. Vitor Gabriel Silva  640.719.385-01     90  06/12/1933
1               Calebe Santos  651.297.384-46     40  06/03/1984
3          Maria Julia Castro  164.750.293-43     76  12/04/1947
4              Arthur Da Rosa  085.167.249-30     53  16/04/1970
5                Juan Pereira  520.876.319-21     68  25/10/1955
...                       ...             ...    ...         ...
1013            Eloah Peixoto  064.917.253-16     79  23/05/1944
1014              Luiza Sales  726.431.850-80     55  01/05/1968
1015      Dr. Alexandre Sales  427.398.061-40     87  05/06/1936
1016            Al√≠cia Campos  162.790.485-94     49  20/03/1975
1024              Luigi Porto  826.509.374-83     43  18/08/1980

                                               endereco             estado  \
0     trevo emanuel silva, 482\nvila tirol\n47847085...           ROND√îNIA
1     recanto moraes, 7\nernesto nascimento\n96497-6...     RIO DE JANEIRO
3     residencial de pereira, 20\njatob√°\n62127-165 ...         PERNAMBUCO
4     parque almeida, 66\nvila suzana segunda se√ß√£o\...     SANTA CATARINA
5     rodovia de pereira, 51\nestrela\n44830637 mend...     RIO DE JANEIRO
...                                                 ...                ...
1013  rua n√£o cadastrada\nbairro n√£o cadastrado\n000...            SERGIPE
1014  rua n√£o cadastrada\nbairro n√£o cadastrado\n000...  RIO GRANDE DO SUL
1015  rua n√£o cadastrada\nbairro n√£o cadastrado\n000...          S√ÉO PAULO
1016  rua n√£o cadastrada\nbairro n√£o cadastrado\n000...              PIAU√ç
1024  parque de santos, 88\ns√£o jo√£o\n60112-833 rodr...     ESP√çRITO SANTO

      idade_corrigida data_corrigida
0                  90     1933-12-06
1                  40     1984-03-06
3                  76     1947-04-12
4                  53     1970-04-16
5                  68     1955-10-25
...               ...            ...
1013               79     1944-05-23
1014               55     1968-05-01
1015               87     1936-06-05
1016               49     1975-03-20
1024               43     1980-08-18

[1010 rows x 8 columns]

Novo DataFrame:
                          nome             cpf  idade        data  \
0     Sr. Vitor Gabriel Silva  640.719.385-01     90  1933-12-06
1               Calebe Santos  651.297.384-46     40  1984-03-06
2          Maria Julia Castro  164.750.293-43     76  1947-04-12
3              Arthur Da Rosa  085.167.249-30     53  1970-04-16
4                Juan Pereira  520.876.319-21     68  1955-10-25
...                       ...             ...    ...         ...
1005            Eloah Peixoto  064.917.253-16     79  1944-05-23
1006              Luiza Sales  726.431.850-80     55  1968-05-01
1007      Dr. Alexandre Sales  427.398.061-40     87  1936-06-05
1008            Al√≠cia Campos  162.790.485-94     49  1975-03-20
1009              Luigi Porto  826.509.374-83     43  1980-08-18

                                               endereco             estado
0     trevo emanuel silva, 482\nvila tirol\n47847085...           ROND√îNIA
1     recanto moraes, 7\nernesto nascimento\n96497-6...     RIO DE JANEIRO
2     residencial de pereira, 20\njatob√°\n62127-165 ...         PERNAMBUCO
3     parque almeida, 66\nvila suzana segunda se√ß√£o\...     SANTA CATARINA
4     rodovia de pereira, 51\nestrela\n44830637 mend...     RIO DE JANEIRO
...                                                 ...                ...
1005  rua n√£o cadastrada\nbairro n√£o cadastrado\n000...            SERGIPE
1006  rua n√£o cadastrada\nbairro n√£o cadastrado\n000...  RIO GRANDE DO SUL
1007  rua n√£o cadastrada\nbairro n√£o cadastrado\n000...          S√ÉO PAULO
1008  rua n√£o cadastrada\nbairro n√£o cadastrado\n000...              PIAU√ç
1009  parque de santos, 88\ns√£o jo√£o\n60112-833 rodr...     ESP√çRITO SANTO

[1010 rows x 6 columns]

In [43]:
# Fun√ß√£o para calcular o cubo de um n√∫mero
def eleva_cubo(x):
    return x ** 3

# Express√£o de lambda para calcular o cubo de um n√∫mero
eleva_cubo_lambda = lambda x: x ** 3

print(eleva_cubo(2))
print(eleva_cubo_lambda(2))

df = pd.DataFrame({'numeros': [1, 2, 3, 4, 5, 10]})

df['cubo_funcao'] = df['numeros'].apply(eleva_cubo)
df['cubo_lambda'] = df['numeros'].apply(lambda x: x ** 3)

print(df)

8
8
   numeros  cubo_funcao  cubo_lambda
0        1            1            1
1        2            8            8
2        3           27           27
3        4           64           64
4        5          125          125
5       10         1000         1000